

body{
	font-family: $font-family-base;
	font-size: $fs;
	margin: 0;
}

#space{
	width: 100%;
	min-height: 10px;
	background-color: $col-gr;
	border-radius: $rad;
}

.node{
	background-color: $col-gr;
	border-radius: $rad;
	padding: 0 $fs;
}

.input-group{
	margin: $fs 0;
	label{
		font-size: .9rem;
		font-weight: bolder;
		display: block;
		margin: $fs/2 $fs/2 $fs/2 0;
	}
	input{
		font-size: $fs;
		padding: $fs/2 $fs/4;
		border: 1px solid $col-gr;
		border-radius: $rad;
		&[type=text]{
			width: 100%;
		}
		&[type=number]{
			width: 5rem;
		}
		
		&[type=range]{
			padding: 0;
			margin: 0;
			-webkit-appearance: none;
			block-size: $fs;
			width: 100%;
			&:focus{
				outline: none;
				&::-webkit-slider-runnable-track{
					background: #ccc;
				}
			}
			&::-webkit-slider-runnable-track{
				width: 100%;
			    height: 5px;
			    background: #ddd;
			    border: none;
			    border-radius: 3px;
			}
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
			    border: none;
			    height: 16px;
			    width: 16px;
			    border-radius: 50%;
			    background: $col-ac;
			    margin-top: -4px;
			}

		}

		&[type=color]{
			padding: $fs;
			height: 100px;
			width: 100px;
			background-color: darken($col-gr, 10%);
  			box-shadow: inset 0 0 5px 0 transparentize(black, .8);
		}
	}
}


.btn, button{
	font-size: $fs;
	padding: $fs/4 $fs/2;
	border: 1px solid darken($col-ac, 5);
	background-color: $col-ac;
	border-radius: $rad;
	margin: $fs 0 0 0;
	letter-spacing: -.13ex;
	&:hover{
		background-color: saturate($col-ac, 30%);
	}
}

